{% extends "base.html" %}

{% block meta1 %}
<meta name="keywords" content="大學門教育事業體系, 關於我們">
<meta property="og:title" content="大學門教育事業體系 - 關於我們" />
<meta property="og:url" content="https://dasyuemen.com.tw/about" />
{% endblock %}

{% block main %}
  <section class="container-banner">
    <div class="container">
      <!-- <div class="page-banner-slogan">
                <h1>分校介紹</h1>
                <p>專辨高中升大學專業補習班 選擇大學門讓你在高中生涯競爭展翅高飛</p>
            </div> -->
    </div>
    <div class="banner-cover">
      <img src="static/img/banner-cover.png" width="100%" alt="">
    </div>
  </section>
  <div class="container">
    <div id="abouttop" class="breadcrumb">
      <p><a href="./">首頁</a></p>
      <i class="fa fa-angle-right"></i>
      <p>{% for nav in navs %}{% if url_for(request.endpoint)[1:] == nav[4] %}{{ nav[3] }}{% endif %}{% endfor %}</p>
    </div>
    <h1 class="content-page-title">{% for nav in navs %}{% if url_for(request.endpoint)[1:] == nav[4] %}{{ nav[3] }}{% endif %}{% endfor %}</h1>
  </div>
  <section class="about-content">
    <div class="container">
      <h1>{% for nav in navs %}{% if url_for(request.endpoint)[1:] == nav[4] %}{{ nav[3] }}{% endif %}{% endfor %}</h1>
      <p class="text-pre-wrap">
      {% if current_user.is_authenticated %}
      <form method="post" action="/about#{{abouts[0][0]}}">
      <textarea class="textarea" id="{{abouts[0][0]}}" name="{{abouts[0][0]}}">{{abouts[0][2]}}</textarea>
      <input type="submit" value="修改">
      </form>
      {% else %}
      {{abouts[0][2]}}
      {% endif %}
      <br><br>
      {% if current_user.is_authenticated %}
      <form method="post" action="/about#{{abouts[1][0]}}">
      <textarea class="textarea" id="{{abouts[1][0]}}" name="{{abouts[1][0]}}">{{abouts[1][2]}}</textarea>
      <input type="submit" value="修改">
      </form>
      {% else %}
      {{abouts[1][2]}}
      {% endif %}
      </p>
    </div>
    <div class="container-fluid">
    <h1>
    {% if current_user.is_authenticated %}
    <form method="post" action="/about#{{abouts[2][0]}}">
    <input type="text" id="{{abouts[2][0]}}" input value="{{abouts[2][2]}}" name="{{abouts[2][0]}}">    
    <input type="submit" value="修改">
    </form>
    {% else %}
    {{abouts[2][2]}}
    {% endif %}
    </h1>
    </div>
  </section>
{% include "idea.html" %}
  <section class="about-img">
    <div class="container-fluid">
      <div class="row">
        <div class="center">
        {% for img in schImgs %}<div><img src="static/img/{{img[0]}}.jpg" width="100%" alt=""></div>{% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}

  <script type="text/javascript">

    $(document).ready(function () {
      $('.center').slick({
        centerMode: true,
        centerPadding: '0px',
        autoplay: true,
        autoplaySpeed: 3000,
        slidesToShow: 3,
        responsive: [{
            breakpoint: 768,
            settings: {
              arrows: false,
              dots: true,
              centerMode: true,
              centerPadding: '20px',
              slidesToShow: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              dots: true,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          }
        ]
      });
    });
  </script>
{% endblock %}

