{% extends "base.html" %}
{% block meta1 %}
<meta name="keywords" content="大學門教育事業體系">
<meta property="og:title" content="大學門教育事業體系" />
<meta property="og:url" content="https://dasyuemen.com.tw/" />
{% endblock %}

{% block main %}
  <section class="banner">
    <div class="container">
      <div class="sns-icon">
        <ul>
          <li><a href="#more"><i class="fa fa-share-alt"></i></a></li>
          <li><a href="#schoolFBlist"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#schoolFBlist"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="slogan">
        <h1>
        {% if current_user.is_authenticated %}
          <form method="post" action="/#{{mains[1][0]}}">
          <textarea class="text" id="{{mains[1][0]}}" name="{{mains[1][0]}}">{{mains[1][2]}}</textarea>
          <input type="submit" value="修改">
          </form>{% else %}{{mains[1][2]}}{% endif %}</h1>
        <h1>
        {% if current_user.is_authenticated %}
          <form method="post" action="/#{{mains[2][0]}}">
          <textarea class="text" id="{{mains[2][0]}}" name="{{mains[2][0]}}">{{mains[2][2]}}</textarea>
          <input type="submit" value="修改">
          </form>{% else %}{{mains[2][2]}}{% endif %}
        </h1>
        <p>
        {% if current_user.is_authenticated %}
          <form method="post" action="/#{{mains[3][0]}}">
          <textarea class="textarea" id="{{mains[3][0]}}" name="{{mains[3][0]}}">{{mains[3][2]}}</textarea>
          <input type="submit" value="修改">
          </form>{% else %}{{mains[3][2]}}{% endif %}
        </p>
        <a href="#booking">馬上預約試聽</a>
      </div>
    </div>
  </section>
  <section id="gold" class="award-list">
    <div class="award-list-title">
      <div class="container">
        <h1>大學門金榜</h1>
        
      {% if current_user.is_authenticated %}
      <p><button class="myBtn">新增金榜</button>
      <div id="myModal" class="modal">
      <!-- Modal content -->
      <form action="/" enctype='multipart/form-data' method='POST'>
      <div class="modal-content"><div class="modal-header">
      <span class="close">&times;</span>
      <h2>新增金榜</h2>
      </div>
      <div class="modal-body"><div class="container"><div class="row"><div class="col col-md-8 mx-auto">
      <select id="input_example" name="imgtype">
      <option selected value ="62501555-302e-4aec-9798-d898f056cf1b">大學門金榜</option>
      <option value ="cff742dd-d41d-40c1-9d70-89da6a0a3113">醫科金榜</option>
      <input type="file" name="img" style="margin-top:20px;"/></input>
      </div></div></div></div>
      <div class="modal-footer"> <h3><input type="submit" value="上傳" class="button-new" style="margin-top:15px;"/></h3> </div>
      </div></div>
      </form>
      </div>
      {% endif %}

    <div class="container-fluid"><div class="row student-slick">
      {% for gold in golds %}
      <div class="col-4 student-item"><img src="static/img/{{gold[0]}}.jpg" alt=""></div>
      {% endfor %}
    </div></div>
      
    </div></div>
  </section>

  <section id="supergold" class="news-list my-xl">
    <div class="container-fluid">
      <div class="row">
      {% for su in sugo %}
      <div class="col-12 col-md-6"><img src="static/img/{{su[0]}}.jpg" width="100%"></div>
      {% endfor %}
      </div>
    </div>
    </section>
    <!-- <div class="news-list-title">
      <div class="container">
        <h4>最新資訊</h4>
        <h1>大學門第一手消息</h1>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row news-item-list">
        <div class="col-12 col-sm-4 news-item">
          <h5 class="date"><i class="fa fa-calendar-o"></i>2020.02.01</h5>
          <h4>高一第一次段考複習</h4>
          <p>明年（108學年）大學個人申請、繁星推薦從原本至多能採計學測5科降為4科，教育部希望藉此降低高中生學習壓力 ......</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-sm-4 news-item">
          <h5 class="date"><i class="fa fa-calendar-o"></i>2020.02.01</h5>
          <h4>高一第一次段考複習</h4>
          <p>明年（108學年）大學個人申請、繁星推薦從原本至多能採計學測5科降為4科，教育部希望藉此降低高中生學習壓力 ......</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-sm-4 news-item">
          <h5 class="date"><i class="fa fa-calendar-o"></i>2020.02.01</h5>
          <h4>高一第一次段考複習</h4>
          <p>明年（108學年）大學個人申請、繁星推薦從原本至多能採計學測5科降為4科，教育部希望藉此降低高中生學習壓力 ......</p>
          <a href="#">Read more</a>
        </div>
      </div>
    </div> -->
 
  <section id="youtube" class="index-about">
    <div class="container-fluid">
      <div class="row index-about-item">
        <div class="row align-items-center index-about-content">
          <div class="col-sm-12 col-md-7">
            <div class="videobox">
              <iframe
                src="{{ytl[0][2]}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          </div>
          <div class="col-sm-12 col-md-5">
            <h1>
            {% if current_user.is_authenticated %}
          <form method="post" action="/#{{ytc[0][0]}}">
          <textarea class="textarea" id="{{ytc[0][0]}}" name="{{mains[0][0]}}">{{ytc[0][2]}}</textarea>
          <input type="submit" value="修改">
          </form>{% else %}{{ytc[0][2]}}{% endif %}
            </h1>
            <p>
            {% if current_user.is_authenticated %}
          <form method="post" action="/#{{ytc[1][0]}}">
          <textarea class="textarea" id="{{ytc[1][0]}}" name="{{mains[1][0]}}">{{ytc[1][2]}}</textarea>
          <input type="submit" value="修改">
          </form>{% else %}{{ytc[1][2]}}{% endif %}
            </p>
            <a href="/about#">{{ytc[2][2]}}</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section id="schoolFBlist" class="school-list">
    <div class="container">
      <div class="row school-list-title">
        <h1>大學門各校臉書連結</h1>
        <!-- <p>全新舒適的環境設備 / 坐一空一的寬廣坐位 / 一對一的家教式課輔 / 唯一獨家診斷式教學 / 最專業的重考班師資 / 安全舒適的學生宿舍 / 最完整的二階段輔導</p> -->
      </div>
      <div class="row school-group">
      {% for sch in schs%}
      <div class="col-6 col-sm-3 school-item">
        <a target="_blank" href="{{sch[6]}}">
          <div class="school-item-content">
            <img class="logo-white" src="static/img/logo.png" alt="">
            <img class="logo-dark" src="static/img/logo-dark.png" alt="">
            <h5>{{sch[1]}}</h5>
          </div>
        </a>
      </div>
      {% endfor %}
      </div>
    </div>
  </section>
  {% include "idea.html" %}
  <section id="more" class="more-link" style="margin-bottom: 0">
    <div class="container">
      <div class="row more-link-title">
        <h1>更多升學資訊</h1>
      </div>
      <div class="row">

      {% for more in moreinfo%}
      <div class="col-12 col-sm-3 more-link-item">
          <a href="{{more[2]}}"><img src="static/img/{{more[0]}}.png" width="100%" alt=""></a>
          <p>
          {% if current_user.is_authenticated %}
          <form method="post" action="/#{{more[0]}}">
          <textarea class="text" id="{{more[0]}}" name="{{more[0]}}">{{more[3]}}</textarea>
          <input type="submit" value="修改">
          </form>
          <small class="form-text">提示： 上排五個字元(包含空格)</small>
          {% else %}
            {{more[3][:5]}}<br>{{more[3][5:]}}
          {% endif %}
          </p>
        </div>

      {% endfor %}
      </div>
    </div>
  </section>
  {% include "reservation.html" %}
{% endblock %}

{% block footer %}

<div id="overlay" class="overlay"></div>
  <div id="alertDialog" class="alertDialog">
    <div class="alertDialog-wrap">
      <div class="display pos-relative">
        <img src="static/img/{{news[0][0]}}.jpg" alt="" srcset="">
        <button id="alertDialogCloseBtn" type="button" class="btn-close-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#000000">
            <path d="M0 0h24v24H0V0z" fill="none" opacity=".87" />
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" /></svg>
        </button>
      </div>
    </div>
  </div>

{% endblock %}


  {% block script %}
  <script type="text/javascript">
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("main-navbar").style.backgroundColor = "#fcb527";
      } else {
        document.getElementById("main-navbar").style.backgroundColor = "transparent";
      }
    }

    $('.student-slick').slick({
      arrows: false,
      slidesToShow: 3,
      centerMode: true,
      autoplaySpeed: 2000,
      responsive: [{
          breakpoint: 979,
          settings: {
            slidesToShow: 3,
          }
        },
        {
          breakpoint: 580,
          settings: {
            slidesToShow: 2,
          }
        }
      ]
    });

    $('#form').submit((event) => {
      event.preventDefault()
      const url = 'https://dasyuemen.com.tw/api/appointment-forms'
      const method = 'POST'
      const form = new FormData(event.target)
      const data = [Object.fromEntries(form.entries())]
      const body = JSON.stringify(data)
      const headers = new Headers()
      headers.set('Content-Type', 'application/json')
      fetch(url, {
        method,
        body,
        headers,
      }).then((response) => {
        if (response.ok && response.status === 204) {
          alert('預約成功！')
          return
        }
        alert('傳送錯誤！')
      })
    })

    $(document).ready(function () {
      const isAlertCanceled = !!sessionStorage.getItem('isAlertCanceled')
      if (!isAlertCanceled) {
        $('#overlay').fadeIn(300)
        $('#alertDialog').addClass('show')
      }
    })

    $('#alertDialogCloseBtn').click(function () {
      $('#overlay').fadeOut(300)
      $('#alertDialog').removeClass('show')
      sessionStorage.setItem('isAlertCanceled', '1')
    })

    // setTimeout(() => {
    //   alert('大學門為因應防疫，線上課程同步啟動。\n也可線上解題哦！！');
    // }, 600);
  </script>
  
{% endblock %}
