{% extends "base.html" %}
{% block meta1 %}
<meta name="keywords" content="大學門教育事業體系">
<meta property="og:title" content="大學門教育事業體系" />
<meta property="og:url" content="https://dasyuemen.com.tw/" />
{% endblock %}
{% block title %}大學門教育事業體系{% endblock %}

{% block main %}
  <section class="banner">
    <div class="container">
      <div class="sns-icon">
        <ul>
          <li><a href=""><i class="fa fa-share-alt"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="slogan">
        <h1>大學門教育事業體系</h1>
        <h1>專辦高中升大學</h1>
        <p>高中升大學第一首選，家教班、學測全科班、分科測驗、高四醫科重考班、二階段口面試、108課網完滿複習，系統診斷弱點、一對一家教輔導、VIP個人自習位，多元課程，口面試輔導。讓學生無後顧之憂，保證考取。</p>
        <a href="#booking">馬上預約試聽</a>
      </div>
    </div>
  </section>
  <section class="award-list">
    <div class="award-list-title">
      <div class="container">
        <h1>大學門金榜</h1>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row student-slick">
        <div class="col-4 student-item">
          <img src="static/img/list/1100520-網頁榜單-01.jpg" alt="">
        </div>
        <div class="col-4 student-item">
          <img src="static/img/list/1100520-網頁榜單-02.jpg" alt="">
        </div>
        <div class="col-4 student-item">
          <img src="static/img/list/1100520-網頁榜單-03.jpg" alt="">
        </div>
        <div class="col-4 student-item">
          <img src="static/img/list/1100520-網頁榜單-04.jpg" alt="">
        </div>
        <div class="col-4 student-item">
          <img src="static/img/list/1100520-網頁榜單-05.jpg" alt="">
        </div>
        <div class="col-4 student-item">
          <img src="static/img/list/1100520-網頁榜單-06.jpg" alt="">
        </div>
        <div class="col-4 student-item">
          <img src="static/img/list/1100520-網頁榜單-07.jpg" alt="">
        </div>
        <div class="col-4 student-item">
          <img src="static/img/list/1100520-網頁榜單-08.jpg" alt="">
        </div>
        <div class="col-4 student-item">
          <img src="static/img/list/1100520-網頁榜單-09.jpg" alt="">
        </div>
        <div class="col-4 student-item">
          <img src="static/img/list/1100520-網頁榜單-10.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="news-list my-xl">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <img
            src="static/img/24400.jpg"
            width="100%"
          >
        </div>
        <div class="col-12 col-md-6">
          <img
            src="static/img/25277.jpg"
            width="100%"
          >
        </div>
      </div>
    </div>
    <!-- <div class="news-list-title">
      <div class="container">
        <h4>最新資訊</h4>
        <h1>大學門第一手消息</h1>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row news-item-list">
        <div class="col-12 col-sm-4 news-item">
          <h5 class="date"><i class="fa fa-calendar-o"></i>2020.02.01</h5>
          <h4>高一第一次段考複習</h4>
          <p>明年（108學年）大學個人申請、繁星推薦從原本至多能採計學測5科降為4科，教育部希望藉此降低高中生學習壓力 ......</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-sm-4 news-item">
          <h5 class="date"><i class="fa fa-calendar-o"></i>2020.02.01</h5>
          <h4>高一第一次段考複習</h4>
          <p>明年（108學年）大學個人申請、繁星推薦從原本至多能採計學測5科降為4科，教育部希望藉此降低高中生學習壓力 ......</p>
          <a href="#">Read more</a>
        </div>
        <div class="col-12 col-sm-4 news-item">
          <h5 class="date"><i class="fa fa-calendar-o"></i>2020.02.01</h5>
          <h4>高一第一次段考複習</h4>
          <p>明年（108學年）大學個人申請、繁星推薦從原本至多能採計學測5科降為4科，教育部希望藉此降低高中生學習壓力 ......</p>
          <a href="#">Read more</a>
        </div>
      </div>
    </div> -->
  </section>
  <section class="index-about">
    <div class="container-fluid">
      <div class="row index-about-item">
        <div class="row align-items-center index-about-content">
          <div class="col-sm-12 col-md-7">
            <div class="videobox">
              <iframe
                src="https://www.youtube.com/embed/UmCB_S3csrQ?&autoplay=1&loop=1&playlist=UmCB_S3csrQ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          </div>
          <div class="col-sm-12 col-md-5">
            <h1>因為堅持所以最棒！</h1>
            <p>幫助孩子達成夢想是大學門唯一要求與堅持！
              大學門教育事業體系秉持著對教育的熱忱，提供全心客製化的輔導，頂尖優質的師資團隊，及舒適寬敞的環境，我們一心一意，只為了協助孩子們進入他們的夢想校系。長久以來，大學門不僅成就孩子的學業，也傳授給孩子實踐夢想的態度及克服難關的方法。相信大學門，我們將帶領孩子踏實築夢，追尋更美好的未來。</p>
            <a href="#">了解更多</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="school-list">
    <div class="container">
      <div class="row school-list-title">
        <h1>大學門各校臉書連結</h1>
        <!-- <p>全新舒適的環境設備 / 坐一空一的寬廣坐位 / 一對一的家教式課輔 / 唯一獨家診斷式教學 / 最專業的重考班師資 / 安全舒適的學生宿舍 / 最完整的二階段輔導</p> -->
      </div>
      <div class="row school-group">
        <div class="col-6 col-sm-3 school-item">
          <a target="_blank"
            href="https://www.facebook.com/%E5%A4%A7%E5%AD%B8%E9%96%80%E6%95%99%E8%82%B2%E4%BA%8B%E6%A5%AD%E9%AB%94%E7%B3%BB-%E8%B1%90%E5%8E%9F%E7%8F%AD-307198719919830">
            <div class="school-item-content">
              <img class="logo-white" src="static/img/logo.png" alt="">
              <img class="logo-dark" src="static/img/logo-dark.png" alt="">
              <h5>豐原班</h5>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-3 school-item">
          <a target="_blank"
            href="https://www.facebook.com/%E5%A4%A7%E5%AD%B8%E9%96%80%E6%95%99%E8%82%B2%E4%BA%8B%E6%A5%AD%E9%AB%94%E7%B3%BB-%E6%96%87%E8%8F%AF%E7%8F%AD-258068368393000">
            <div class="school-item-content">
              <img class="logo-white" src="static/img/logo.png" alt="">
              <img class="logo-dark" src="static/img/logo-dark.png" alt="">
              <h5>文華班</h5>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-3 school-item">
          <a target="_blank"
            href="https://www.facebook.com/%E5%A4%A7%E5%AD%B8%E9%96%80%E6%95%99%E8%82%B2%E4%BA%8B%E6%A5%AD%E9%AB%94%E7%B3%BB%E4%BB%8A%E8%8F%AF%E7%8F%AD-102327481226753">
            <div class="school-item-content">
              <img class="logo-white" src="static/img/logo.png" alt="">
              <img class="logo-dark" src="static/img/logo-dark.png" alt="">
              <h5>今華班</h5>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-3 school-item">
          <a target="_blank"
            href="https://www.facebook.com/%E5%A4%A7%E5%AD%B8%E9%96%80%E6%95%99%E8%82%B2%E4%BA%8B%E6%A5%AD%E9%AB%94%E7%B3%BB-%E6%B0%B4%E5%88%A9%E7%8F%AD-2287291194886983">
            <div class="school-item-content">
              <img class="logo-white" src="static/img/logo.png" alt="">
              <img class="logo-dark" src="static/img/logo-dark.png" alt="">
              <h5>水利班</h5>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-3 school-item">
          <a target="_blank"
            href="https://www.facebook.com/%E5%A4%A7%E5%AD%B8%E9%96%80%E6%95%99%E8%82%B2%E4%BA%8B%E6%A5%AD%E9%AB%94%E7%B3%BB-%E8%82%B2%E6%89%8D%E7%8F%AD-105336791108002">
            <div class="school-item-content">
              <img class="logo-white" src="static/img/logo.png" alt="">
              <img class="logo-dark" src="static/img/logo-dark.png" alt="">
              <h5>育才班</h5>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-3 school-item">
          <a target="_blank"
            href="https://www.facebook.com/%E5%A4%A7%E5%AD%B8%E9%96%80%E6%95%99%E8%82%B2%E4%BA%8B%E6%A5%AD%E9%AB%94%E7%B3%BB%E5%8F%B0%E4%B8%AD%E7%8F%AD-232527690094571">
            <div class="school-item-content">
              <img class="logo-white" src="static/img/logo.png" alt="">
              <img class="logo-dark" src="static/img/logo-dark.png" alt="">
              <h5>台中班</h5>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-3 school-item">
          <a target="_blank" href="https://www.facebook.com/pluspowered">
            <div class="school-item-content">
              <img class="logo-white" src="static/img/logo.png" alt="">
              <img class="logo-dark" src="static/img/logo-dark.png" alt="">
              <h5>彰化班</h5>
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-3 school-item">
          <a target="_blank"
            href="https://www.facebook.com/%E5%A4%A7%E5%AD%B8%E9%96%80%E4%BA%8B%E6%A5%AD%E6%95%99%E8%82%B2%E9%AB%94%E7%B3%BB-%E5%93%A1%E6%9E%97%E7%8F%AD-108361354244420/?modal=admin_todo_tour">
            <div class="school-item-content">
              <img class="logo-white" src="static/img/logo.png" alt="">
              <img class="logo-dark" src="static/img/logo-dark.png" alt="">
              <h5>員林班</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="slogan-section">
    <div class="container">
      <h3>用心、信心、安心一直是大學門的宗旨；<br>
        誠實、踏實、確實是永續經營的精神，堅持專辦所以最棒！</h3>
    </div>
  </section>
  <section class="more-link" style="margin-bottom: 0">
    <div class="container">
      <div class="row more-link-title">
        <h1>更多升學資訊</h1>
      </div>
      <div class="row">
        <div class="col-12 col-sm-3 more-link-item">
          <a href="#">
            <img src="static/img/link-01.png" width="100%" alt="">
            <p>大學入學考試中心</p>
          </a>
        </div>
        <div class="col-12 col-sm-3 more-link-item">
          <a href="#">
            <img src="static/img/link-02.png" width="100%" alt="">
            <p>財團法人<br>技專校院入學測驗中心</p>
          </a>
        </div>
        <div class="col-12 col-sm-3 more-link-item">
          <a href="#">
            <img src="static/img/link-03.png" width="100%" alt="">
            <p>大學入學考試中心<br>高中英語聽力測驗</p>
          </a>
        </div>
        <div class="col-12 col-sm-3 more-link-item">
          <a href="#">
            <img src="static/img/link-04.png" width="100%" alt="">
            <p>TOEIC<br>多益英語測驗</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="booking" style="padding-top: 106px">
    <form id="form">
      <div class="container">
        <div class="row more-link-title text-center">
          <h1>預約試聽</h1>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 from-item">
            <label for="name" class="form-label">姓名 <span class="required-icon">*</span></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="姓名">
          </div>
          <div class="col-12 col-sm-6 from-item">
            <label for="phone" class="form-label">手機 <span class="required-icon">*</span></label>
            <input type="text" inputmode="tel" class="form-control" id="phone" name="phone" placeholder="手機">
          </div>
          <div class="col-12 col-sm-6 from-item">
            <label for="schoolName" class="form-label">學校 <span class="required-icon">*</span></label>
            <input type="text" class="form-control" id="schoolName" name="schoolName" placeholder="學校">
          </div>
          <div class="col-12 col-sm-6 from-item">
            <label for="branch" class="form-label">詢問分校 <span class="required-icon">*</span></label>
            <select id="branch" class="form-select col-3" name="branch">
              <option selected>請選擇...</option>
              <option>豐原班</option>
              <option>文華班</option>
              <option>今華班</option>
              <option>水利班</option>
              <option>育才班</option>
              <option>台中班</option>
              <option>彰化班</option>
              <option>員林班</option>
            </select>
          </div>
          <div class="col-12 from-item">
            <label for="suggestion" class="form-label">其他問題與意見</label>
            <textarea class="form-control" id="suggestion" rows="5" name="suggestion"></textarea>
          </div>
        </div>
      </div>
      <div class="submit-btn">
        <button>送出</button>
      </div>
    </form>
  </section>
  {% endblock %}

  {% block script %}
    <script type="text/javascript">
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("main-navbar").style.backgroundColor = "#fcb527";
      } else {
        document.getElementById("main-navbar").style.backgroundColor = "transparent";
      }
    }

    $('.student-slick').slick({
      infinite: true,
      dots: true,
      arrows: false,
      slidesToShow: 3,
      responsive: [{
          breakpoint: 979,
          settings: {
            slidesToShow: 3,
          }
        },
        {
          breakpoint: 580,
          settings: {
            slidesToShow: 2,
          }
        }
      ]
    });

    $('#form').submit((event) => {
      event.preventDefault()
      const url = 'https://dasyuemen.com.tw/api/appointment-forms'
      const method = 'POST'
      const form = new FormData(event.target)
      const data = [Object.fromEntries(form.entries())]
      const body = JSON.stringify(data)
      const headers = new Headers()
      headers.set('Content-Type', 'application/json')
      fetch(url, {
        method,
        body,
        headers,
      }).then((response) => {
        if (response.ok && response.status === 204) {
          alert('預約成功！')
          return
        }
        alert('傳送錯誤！')
      })
    })

    setTimeout(() => {
      alert('大學門為因應防疫，線上課程同步啟動。\n也可線上解題哦！！');
    }, 600);
  </script>
{% endblock %}
