{% extends "base.html" %}
{% block meta1 %}
  <meta name="keywords" content="大學門教育事業體系">
  <meta property="og:title" content="大學門教育事業體系" />
  <meta property="og:url" content="https://dasyuemen.com.tw/news-detail" />
{% endblock %}
{% block main %}
  <section class="container-banner">
    <div class="container">
      <div class="page-banner-slogan">
        <h1>{% for nav in navs %}{% if url_for(request.endpoint)[1:] == nav[4] %}{{ nav[3] }}{% endif %}{% endfor %}</h1>
        <p>掌握大學門第一手消息！</p>
      </div>
    </div>
    <div class="banner-cover">
      <img src="static/img/banner-cover.png" width="100%" alt="">
    </div>
  </section>
  <div class="container">
    <div class="breadcrumb">
      <p><a href="./">首頁</a></p>
      <i class="fa fa-angle-right"></i>
      <p><a href="news">{{navs[2][3]}}</a></p>
      <i class="fa fa-angle-right"></i>
      <p>更多細節</p>
    </div>
  <section id="news-section">
    <div class="container">
      <div class="row">
      {% for detail in details%}
      <p class="col-10 col-sm-9 news-detail-date"><i class="fa fa-calendar-check-o"></i>{{details[detail][1]}}</p>

          <div id="{{detail}}" class="col col-md-9 mx-auto">
          {% if current_user.is_authenticated %}
          <form method="post" action="/news-detail#{{detail}}">
          <textarea class="textarea" style="width:50% ;height: 60px"  id="{{detail}}" name="mai{{detail}}">{{details[detail][0]}}</textarea>          
          {% else %}
          <h1 class="col-12 col-sm-8 content-page-title">{{details[detail][0]}} </h1>
          {% endif %}
          {% if current_user.is_authenticated %}
          <form method="post" action="/news-detail#{{detail}}">
          <textarea class="textarea" style="width:80% ;height: 100px"  id="{{details[detail][3]}}" name="sub{{details[detail][3]}}">{{details[detail][2]}}</textarea>
          <input type="submit" value="修改">
          </form>
          {% else %}
          <p class="col-12 news-detail-content">{{details[detail][2]}}</p>
          {% endif %}
          <img src="static/img/{{detail}}.jpg" width="80%" alt=""><br><br>
          </div>
      {% endfor %}
      </div>
    </div>
  </section>


{% endblock %}
{% block script %}
  <script type="text/javascript">

  </script>
{% endblock %}
