{% extends "base.html" %}
{% block meta1 %}
  <meta name="keywords" content="大學門教育事業體系, 學生家長專區">
  <meta property="og:title" content="大學門教育事業體系 - 學生家長專區" />
  <meta property="og:url" content="https://dasyuemen.com.tw/parents" />  
{% endblock %}
{% block title %}大學門教育事業體系 - 學生家長專區{% endblock %}
{% block main %}
  <section class="container-banner">
    <div class="container">
      <div class="page-banner-slogan">
        <h1>學生家長專區</h1>
        <p>大學門專屬App</p>
        <p>大學門補帶課程</p>
        <p>大學門線上課程</p>
      </div>
    </div>
    <div class="banner-cover">
      <img src="static/img/banner-cover.png" width="100%" alt="">
    </div>
  </section>
  <div class="container">
    <div class="breadcrumb">
      <p><a href="./">首頁</a></p>
      <i class="fa fa-angle-right"></i>
      <p>學生家長專區</p>
    </div>
    <h1 class="content-page-title">大學門專屬App</h1>
  </div>
  <section id="news-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <img
            src="static/img/parents/0001(2).jpg"
            width="100%"
          >
        </div>
      </div>
  </section>
{% endblock %}
  
{% block script %}
  <script type="text/javascript">
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("main-navbar").style.backgroundColor = "#fcb527";
      } else {
        document.getElementById("main-navbar").style.backgroundColor = "transparent";
      }
    }

    $('.student-slick').slick({
      infinite: true,
      dots: true,
      arrows: false,
      slidesToShow: 3
    });
  </script>
{% endblock %}
