<section id="booking" style="padding-top: 106px">
    <form id="form">
      <div class="container">
        <div class="row more-link-title text-center">
          <h1>預約試聽</h1>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 from-item">
            <label for="name" class="form-label">姓名 <span class="required-icon">*</span></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="姓名">
          </div>
          <div class="col-12 col-sm-6 from-item">
            <label for="phone" class="form-label">手機 <span class="required-icon">*</span></label>
            <input type="text" inputmode="tel" class="form-control" id="phone" name="phone" placeholder="手機">
          </div>
          <div class="col-12 col-sm-6 from-item">
            <label for="schoolName" class="form-label">學校 <span class="required-icon">*</span></label>
            <input type="text" class="form-control" id="schoolName" name="schoolName" placeholder="學校">
          </div>
          <div class="col-12 col-sm-6 from-item">
            <label for="branch" class="form-label">詢問分校 <span class="required-icon">*</span></label>
            <select id="branch" class="form-select col-3" name="branch">
              <option selected>請選擇...</option>
              <option>豐原班</option>
              <option>文華班</option>
              <option>今華班</option>
              <option>水利班</option>
              <option>育才班</option>
              <option>台中班</option>
              <option>彰化班</option>
              <option>員林班</option>
            </select>
          </div>
          <div class="col-12 from-item">
            <label for="suggestion" class="form-label">其他問題與意見</label>
            <textarea class="form-control" id="suggestion" rows="5" name="suggestion"></textarea>
          </div>
        </div>
      </div>
      <div class="submit-btn">
        <button>送出</button>
      </div>
    </form>
  </section>