{% extends "base.html" %}
{% block meta1 %}
  <meta name="keywords" content="大學門教育事業體系, 分校介紹">
  <meta property="og:title" content="大學門教育事業體系 - 分校介紹" />
  <meta property="og:url" content="https://dasyuemen.com.tw/school" />
{% endblock %}
{% block title %}大學門教育事業體系 - 分校介紹{% endblock %}
{% block main %}
  <section class="container-banner">
    <div class="container">
      <div class="page-banner-slogan">
        <h1>分校介紹</h1>
        <p>專辨高中升大學專業補習班 選擇大學門讓你在高中生涯競爭展翅高飛</p>
      </div>
    </div>
    <div class="banner-cover">
      <img src="static/img/banner-cover.png" width="100%" alt="">
    </div>
  </section>
  <div class="container">
    <div class="breadcrumb">
      <p><a href="./">首頁</a></p>
      <i class="fa fa-angle-right"></i>
      <p>分校介紹</p>
    </div>
    <h1 class="content-page-title">分校介紹</h1>
  </div>
  <section class="school-content">
    <!-- <div class="container-fluid school-detail-content">
      <form class="select-school">
        <p class="select-title">選擇分校：</p>

        <select class="select-school-btn" data-chose="schoolA" onchange="this.dataset.chose = this.value;">
          <option selected value="schoolA">育才分校</option>
          <option value="schoolB">彰化分校</option>
        </select>
        <div class="school-info schoolA-info">
          <div class="school-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.656550389191!2d120.6833883149822!3d24.148696784394577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d6902f4c51d%3A0x625e100f8c377267!2zNDA05Y-w5Lit5biC5YyX5Y2A5bCK6LOi6KGXOeiZnzPmqJM!5e0!3m2!1szh-TW!2stw!4v1620909336036!5m2!1szh-TW!2stw"
              width="100%" height="580" style="border:0;" allowfullscreen="" loading="">
            </iframe>
          </div>
          <div class="school-content-info">
            <div class="school-drop-item">
              <h4>育才大學門</h4>
              <p class="school-address">台中市北區尊賢街 9 號 3 樓 ( 水利大樓 3 樓 )</p>
              <p class="school-phone"><a href="callto:+886422216277">(04)2221-6277</a></p>
              <ul>
                <li>平日 14:00-22:00</li>
                <li>週六 13:00-22:00</li>
                <li>週日 08:30-21:30</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="school-info schoolB-info">
          <div class="school-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.656550389191!2d120.6833883149822!3d24.148696784394577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d6902f4c51d%3A0x625e100f8c377267!2zNDA05Y-w5Lit5biC5YyX5Y2A5bCK6LOi6KGXOeiZnzPmqJM!5e0!3m2!1szh-TW!2stw!4v1620909336036!5m2!1szh-TW!2stw"
              width="100%" height="580" style="border:0;" allowfullscreen="" loading="">
            </iframe>
          </div>
          <div class="school-content-info">
            <div class="school-drop-item">
              <h4>彰化分校</h4>
              <p class="school-address">台中市北區尊賢街 9 號 3 樓 ( 水利大樓 3 樓 )</p>
              <p class="school-phone"><a href="callto:+886422216277">(04)2221-6277</a></p>
              <ul>
                <li>平日 14:00-22:00</li>
                <li>週六 13:00-22:00</li>
                <li>週日 08:30-21:30</li>
              </ul>
            </div>
          </div>
        </div>
        </from>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 school-item-detail-info">
          <div class="center">
            <div><img src="static/img/school/育才班2_1280x720.jpg" width="100%" alt=""></div>
          </div>
          <h4>【大學門育才班】</h4>
          <p class="school-description">全新舒適的環境設備/坐一空一的寬廣坐位/一對一的家教式課輔/唯一獨家診斷式教學/最專業的重考班師資/安全舒適的學生宿舍/最完整的二階段輔導
          </p>
          <p class="school-address">台中市北區尊賢街 9 號 3 樓 ( 水利大樓 3 樓 )</p>
          <p class="school-phone"><a href="callto:+886422216277">(04)2221-6277</a></p>
        </div>
        <div class="col-12 col-sm-6 school-item-detail-info">
          <div class="center">
            <div><img src="static/img/school/文華班_1280x720.jpg" width="100%" alt=""></div>
            <div><img src="static/img/school/文華班2_1280x720.jpg" width="100%" alt=""></div>
            <div><img src="static/img/school/文華班3_1280x720.jpg" width="100%" alt=""></div>
          </div>
          <h4>【大學門文華班】</h4>
          <p class="school-description">主打高中名師孟烜資優數學、宇凡頂尖英文、柯易思考物理、段昊專業化學、紹堂首席國文等家教班及高三全科班， 因為誠心！所以最棒！</p>
          <p class="school-address">台中市西屯區文心路三段201號</p>
          <p class="school-phone"><a href="callto:+88647275699">(04)2297-5666</a></p>
        </div>
        <div class="col-12 col-sm-6 school-item-detail-info">
          <div class="center">
            <div><img src="static/img/school/園林般2_1280x720.jpg" width="100%" alt=""></div>
          </div>
          <h4>【大學門今華班】</h4>
          <p class="school-description">主打名師「孟烜資優數學」、「劉頡(Eddie)頂尖英文」、「柯易思考物理」、「段昊頂尖化學」等家教班及高三學測複習全科班，
            因為誠心！所以最棒！</p>
          <p class="school-address">台中市寧夏路231號</p>
          <p class="school-phone"><a href="callto:+886422216277">(04)2317-9210</a></p>
        </div>
        <div class="col-12 col-sm-6 school-item-detail-info">
          <div class="center">
            <div><img src="static/img/school/水利班_1280x720.jpg" width="100%" alt=""></div>
          </div>
          <h4>【大學門水利班】</h4>
          <p class="school-description">主打名師國文、資優數學、頂尖英文、思考物理、頂尖化學等家教班及高三全科班</p>
          <p class="school-address">台中市北區尊賢街9號7樓</p>
          <p class="school-phone"><a href="callto:+886422216277">(04)2221-6677</a></p>
        </div>
        <div class="col-12 col-sm-6 school-item-detail-info">
          <div class="center">
            <div><img src="static/img/school/園林般2_1280x720.jpg" width="100%" alt=""></div>
          </div>
          <h4>【大學門豐原班】</h4>
          <p class="school-description">主打口碑紹堂國文、孟烜資優數學、奇諺頂尖英文、林岦觀念物理、段昊頂尖化學等家教班及高三全科班</p>
          <p class="school-address">台中市豐原區中正路33號</p>
          <p class="school-phone"><a href="callto:+886422216277">(04)2513-1077</a></p>
        </div>
        <div class="col-12 col-sm-6 school-item-detail-info">
          <div class="center">
            <div><img src="static/img/school/園林般2_1280x720.jpg" width="100%" alt=""></div>
          </div>
          <h4>【大學門台中班】</h4>
          <p class="school-description">主打名師淞豪高中資優數學、奇諺高中頂尖英文、林岦高中觀念物理、卓爾高中頂尖化學等家教班及高三全科班，因為踏實！所以最棒！</p>
          <p class="school-address">台中市南區復興路三段465號4樓</p>
          <p class="school-phone"><a href="callto:+886422216277">(04)2226-0260</a></p>
        </div>
        <div class="col-12 col-sm-6 school-item-detail-info">
          <div class="center">
            <div><img src="static/img/school/彰化班0_1280x720.jpg" width="100%" alt=""></div>
            <div><img src="static/img/school/彰化班1_1280x720.jpg" width="100%" alt=""></div>
            <div><img src="static/img/school/彰化班3_1280x720.jpg" width="100%" alt=""></div>
          </div>
          <h4>【大學門彰化班】</h4>
          <p class="school-description text-pre-wrap text-pre">用心、信心、安心一直是大學門的宗旨；誠實、踏實、確實是永續經營的精神，堅持專辦所以最棒！
Treatment is more about restoring the peace of mind than about producing a cure.</p>
          <p class="school-address">彰化縣彰化市和平路57號7樓</p>
          <p class="school-phone"><a href="callto:+886422216277">(04)727-5699</a></p>
        </div>
        <div class="col-12 col-sm-6 school-item-detail-info">
          <div class="center">
            <div><img src="static/img/school/園林般_1280x720.jpg" width="100%" alt=""></div>
            <div><img src="static/img/school/園林般1_1280x720.jpg" width="100%" alt=""></div>
            <div><img src="static/img/school/園林般2_1280x720.jpg" width="100%" alt=""></div>
          </div>
          <h4>【大學門員林班】</h4>
          <p class="school-description">選擇大學門才能讓你在高中競爭生涯展翅高飛脫穎而出</p>
          <p class="school-address">彰化縣員林市萬年路三段238號</p>
          <p class="school-phone"><a href="callto:+886422216277">(04)832-6767</a></p>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
  {% block script %}
  <script type="text/javascript">
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("main-navbar").style.backgroundColor = "#fcb527";
      } else {
        document.getElementById("main-navbar").style.backgroundColor = "transparent";
      }
    }

    $(document).ready(function () {
      $('.center').slick({
        dots: true,
        arrows: false,
      });
    });
  </script>
{% endblock %}
